@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="All">All</button>
<button class="btn btn-primary" @onclick="Cancel">Cancel</button>
<button class="btn btn-primary" @onclick="CopyTo">Import to Unity</button>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Texture</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var role in Roles)
        {
            <tr>
                <td>@role.Name</td>

                <td>
                    @foreach (Asset file in role.Models)
                    {
                        <div>
                            <input type="checkbox" @bind="file.IsChecked" />
                            <span>@file.Name</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            @if (file.State == State.Equal)
                            {
                                <span class="alert-success">&#10003</span>
                            }
                            else
                            {
                                <span class="alert-warning">@file.State</span>
                            }
                        </div>
                    }
                </td>

                <td>
                    @foreach (Asset file in role.Textures)
                    {
                        <div>
                            <input type="checkbox" @bind="file.IsChecked" />
                            <span>@file.Name</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            @if (file.State == State.Equal)
                            {
                                <span class="alert-success">&#10003</span>
                            }
                            else
                            {
                                <span class="alert-warning">@file.State</span>
                            }
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public List<Role> Roles { get; set; }

    public void All()
    {
    }
    public void Cancel()
    {
    }
    public void CopyTo()
    {
        foreach(var role in Roles)
        {
            foreach(var fbx in role.Models)
            {
                fbx.CopyTo();
            }
            foreach(var tex in role.Textures)
            {
                tex.CopyTo();
            }
        }
    }
}
